<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Electrical Fault Classification with PCA</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    body {
        background-color: #121212;
    }

    .fa {
        font-size: 5em;
    }
</style>

<body>
    <div class="container-fluid p-5">
        <div class="card w-50 bg-white">
            <div class="card-body">
                <h3 class="card-title">{{ result }} </h3>
                <p><i class="{{icons}}"></i></p>
            </div>
            <img src="https://raw.githubusercontent.com/KingArthur000/Electrical-Fault-detection-and-classification/main/pics/power%20system.png"
                class="p-3">
        </div>
    </div>
</body>

</html>
